.App {
  font-size: 62.5%;
  background-color: #8A817C;

  .wrapper{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  header{
    margin-bottom: 20px;
    h1{
      margin: 0;
      font-size: 2rem;
      color:#463F3A;
    }

    .status{
      display:flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      background-color: #F4F3EE;
      font-size: 1rem;
      width: 100vw;
      top: 0;
      z-index: 9999;
      border-bottom: 1.5px solid #463F3A;

      h2{
        margin: 0;
      }

      p:first-of-type{
        font-weight:bold;
      }
    }
  }

  .projectComponentContainer{
    padding-top: 10vh;
    display:flex;
    flex-direction: column;
    .projectContainer{
      margin-bottom: 20px;
      display:flex;
      justify-content: center;
      .contentContainer{
        display:flex;
        justify-content: space-between;
        width: 70%;
        background-color: #463F3A;
        padding: 20px;
        border-radius: 25px;
        border: 1.5px solid #E0AFA0;

        .screenShotContainer{
          max-width: 35%;
          filter: grayscale(80%);
          transition: 0.8s;
          img{
            width: 100%;
            transition: 0.8s;
            border-radius: 10px;

          }
          &:hover{
            filter: none;

            img{
              transform:scale(1.05)
            }
          }
        }

  
        .contentDesContainer{
          font-size: 1rem;
          width: 40%;
          color: white;
          h2{
            text-decoration: underline 2px solid #E0AFA0;
            margin:0;
          }
        }
        
        .infoContainer{
          font-size: 1rem;
          color: white;

          p{
            margin-top: 0;
          }
          nav{
            a{
              color: white;
              &:hover{
                color: #E0AFA0;
              }
            }
            li{
              list-style: none; 
            }
          }
        }
      }
    }

  }
}

@import "media"